html {
    background-color: hsl(303, 100%, 96%);
}
button {
    display: flexbox;
   
    font-family: Montserrat, Franceus;
    font-size: 18px;
    background-color: darkcyan;
    color: white;
    border: none;
    border-radius: 5px;
    width: 324px;
    height: 50px;
    margin-top: 30px;
    cursor: pointer;
}
p {
    margin: 0;
}
.content {
    display: flex;
    justify-content: center;
    align-items: top;
    width: 750px;
    height: 500px;
    margin-left: 400px;
    margin-top: 130px;
    padding: 0px;
    border: solid;
    border-radius: 20px;
    border-color: rgba(255, 255, 255, 0);
    overflow: hidden;
}
.img {
    height: 100%;
    width: 100%;
}
.product-img {
    height: 100%;
    width: 100%;
}
.product-info {
    background-color: white;
    display: inline-block;
    border-right: 10px;
    font-family: Montserrat, Franceus;
    padding-left: 30px;
    padding-right: 50px;   
}
.product-type,
.product-name,
.product-describe,
.product-price {
    margin: 0px;
    margin-top: 20px;
    font-size: 20px;
}

.product-type {
    color: rgb(141, 141, 141); 
    letter-spacing: 5px;
}
.product-name {
    font-family: Franceus;
    font-weight: bold;
    font-size: 45px;
    width: 250px;
    
}
.product-describe {
    color: rgb(141, 141, 141);
    width: 324px;
}
.product-price {
    display: flex;
    
}
.discount {
    margin-right: 20px;
    font-family: Franceus;
    font-size: 40px;
    font-weight: 700;
    color: darkcyan;
}
.og-price {
    padding-top: 12px;
    font-size: 18px;
    color: rgb(141, 141, 141);
    text-decoration: line-through;
    
}
